body {
    width: 100vw;
    min-width: 320px;
    box-sizing: border-box;
    font-family: "Helvetica Neue";
}

/*==========HEADER==========*/
header {
    width: 100vw;
}

header > h1 {
    height: 5vh;
    font-size: 2em;
    text-align: center;
    padding: 2.5% 0;
}

header > nav > input#menubtn {
    height: 5vh;
    width: 100vw;
    border: none;
}

header > nav > ul#navlinks > li {
    height: 10vw;
    width: 100vw;
    text-align: center;
}

header > nav > ul#navlinks > li > a {
    display: block;
    height: 100%;
    width: 100%;;
    text-decoration: none;
    font-size: 1.5em;
}

header > nav > ul#navlinks > li > a:hover {
    background-color: grey;
}

header > nav > ul#navlinks > li > a:visited {
    color: blue;
}

.hidemenu {
    display: none;
}

.showmenu {
    display: block;
}

/*==========MAIN==========*/
main {
    height: 85vh;
    width: 100vw;
}

/*----------APPS----------*/
main > section#apps > article {
    width: 90%;
    padding: 5%;
}

main > section#apps > article > img {
    display: inline-block;
    height: width;
    width: 50%;
}

main > section#apps > article > div.article-text-wrapper {
    display: inline-block;
    float: right;
    height: width;
    width: 50%;
}

main > section#apps > article > div > p {
    padding: 5%;
}

/*----------CV----------*/
main > section#cv > details {
    height: 100px;
    width: 100%;
}

main > section#cv> details > summary {
    font-size: 1.5em;
}

/*==========FOOTER==========*/
footer {
    height: 5vh;
    width: 100vw;
    position: fixed;
    background-color: grey;
}

footer > ul {
    text-align: center;
}

footer > ul > li {
    display: inline-block;
}

footer > ul > li > a > img.icon {
    height: 2vh;
    width: 2vw;
}
