*, details {
    border: 2px solid black;
}

body {
    width: 100vw;
}

/*==========HEADER==========*/
header {
    width: 100vw;
}

header > h1 {
    height: 5vh;
    font-size: 2em;
    text-align: center;
}

header > nav > input#menubtn {
    height: 5vh;
    width: 100vw;
    border: none;
}

header > nav > ul#navlinks {
    display: none;
}
/*==========MAIN==========*/
main {
    height: 85vh;
    width: 100vw;
}

main > section#apps {
    height: 50%;
}

main > section#apps > article {
    height: 100%;
    width: 100%;
}

main > section#apps > article > img {
    height: 100%;
    width: 50%;
}

main > section#apps > article > p {
    height: 100%;
    width: 50%;
}

/*==========FOOTER==========*/
footer {
    height: 5vh;
    width: 100vw;
}
